<div class="dashboard-main">
  <!--  notification update based on response status-->
  <div *ngIf="msg.statusCode!" [ngClass]="{
            'notify-div':msg.statusCode === 100,
            'success-div':msg.statusCode === 200,
            'error-div':msg.statusCode === 404
          }">
    {{msg.message}}
  </div>

  <!-- location search -->
  <div class="search-div">

    <form #searchForm="ngForm" (ngSubmit)="submit(searchForm.form)">
      <div class="form-group radio-group" (change)="submit(searchForm.form)">
        <div class="p-b"><h3>You can try other measuring units</h3><small>Celsius is default.</small></div>
        <div class="m-b">
          <div class="form-control radio-btn" *ngFor="let u of units">
            <span>
              <input type="radio" name="unit" value="{{u.des}}" [ngModel]='unit'>
              {{u.name}}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input required minlength="2" maxlength="10" ngModel name="location" type="text" #location="ngModel"
               class="form-control" id="firstName">
        <button class="btn btn-primary" type="submit" [class.disabled]="!searchForm.valid">Search</button>
        <div class="alert alert-danger" *ngIf="location.touched && !location.valid">
          <div *ngIf="location.errors?.required">Location is required.</div>
          <div *ngIf="location.errors?.minlength">Location is minimum
            {{ location.errors?.minlength.requiredLength }} character.
          </div>
          <div *ngIf="location.errors?.maxlength">Location is maximum 10 character.</div>
        </div>
      </div>
    </form>
  </div>
  <!-- spinner -->

  <div *ngIf="isLoading" class="spinner"></div>

  <!--  card-container display the current and forecast weather-->
  <div class="card-container" *ngIf="isRendered && !error">
    <div class="card" [@fadeInOut]>
      <h2>Current Weather</h2>

      <img src="http://openweathermap.org/img/wn/{{report!.icon}}@2x.png" width="100" height="100"/>
      <b>
        {{report!.temp | number: '1.0-0'}}
        {{report!.unit === 'imperial' ? '&#8457;' : report!.unit === 'metric' ? '&#8451;' : 'K'}} &nbsp; in
        {{report!.city}}
      </b>
      <b>{{report!.description}}</b>
      <b>{{report!.icon.endsWith('n') ? 'Night' : 'Day'}}</b>
    </div>

    <div class="card forecast-container" [@fadeInOut]>
      <h2>Weather Forecast</h2>
      <div *ngFor="let item of forecast?.list" class="forecast-margin">
        <div class="inline p-r">
          <img src="http://openweathermap.org/img/wn/{{item.weather[0].icon}}@2x.png" width="50" height="50"/><br/>
          <br/>
        </div>
        <div class="inline">
          <b>Temperature:&nbsp;</b> {{item?.main?.temp | number: '1.0-0'}}
          {{report!.unit === 'imperial' ? '&#8457;' : report!.unit === 'metric' ? '&#8451;' : 'K'}}
          <br/>
          <b>Description:&nbsp;</b> {{item.weather[0].description}}<br/>
          <b>Date:</b>&nbsp; {{item.dt_txt | date}}
        </div>
      </div>
    </div>
  </div>
</div>
